<html>
  <head>
  </head>
  <body>
    <h1>Express - Sequelize Example</h1>
  <form action="/searchCountry" method="post">
    <label>Country Name:
      <input type="text" name="countryName" value="">
    </label>
  </form>
  </body>
</html>
